/*@import "primereact/resources/themes/lara-light-cyan/theme.css";*/
@import "primereact/resources/primereact.min.css";
@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";
@import "/src/theme/_theme_variables.scss";
@import "/src/theme/_color_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
}


.responsive-container {
    width: 100%;
    max-width: 1200px; /* You can adjust the maximum width based on your design */
    margin: 0 auto; /* Center the container */
    padding: 20px;

    /* Add responsive styles using media queries */
    @media (max-width: 600px) {
        padding: 10px;
    }

    @media (max-width: 400px) {
        padding: 5px;
    }
}

.case-responsive-container{
    width: 100%;
    max-width: 1700px; /* You can adjust the maximum width based on your design */
    margin: 0 auto; /* Center the container */
    padding: 20px;

    /* Add responsive styles using media queries */
    @media (max-width: 600px) {
        padding: 10px;
    }

    @media (max-width: 400px) {
        padding: 5px;
    }
}
.text-gradient{
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(89deg, #f05918, #bc79ff);
    -webkit-background-clip: text;
}
